:root
{
    --navcolor:#37517E;
}
.navcon
{
    background-color: var(--navcolor);
}
.colnavimg
{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes  up-down
{
     from{
        transform: translateY(10%);
     }
     to
     {
        transform: translateY(-10);
     }
}
.logocontainer 
{
    background-color: #F3F5FA;
  
}
.logocontainer img
{
    background-color: #F3F5FA;
    filter: grayscale(100);
    transition: all .3s;
}
.logocontainer img:hover
{
    filter: none;
    scale: 1.1;
}